/* src/components/Header.css*/


 

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: transparent; /* Remove the white background */
    border: none; /* Remove any border if exists */
    padding: 0;
    
  }
  
  .search-bar input {
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #444;
    outline: none;
    background-color: #555; /* Match the background with header */
    color: #fff;
  }
  
  .search-bar button {
    padding: 15px 15px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }
  
  .nav-bar a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .auth-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn {
    background-color: #28a745;
    color: #fff;
  }
  
  .signup-btn {
    background-color: #007bff;
    color: #fff;
  }
  
  .logout-btn {
    background-color: #dc3545;
    color: #fff;
  }
  